@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'sf-regular';
  src: url('/fonts/SF-Pro-Display-Regular.ttf');
}
@font-face {
  font-family: 'sf-medium';
  src: url('/fonts/SF-Pro-Display-Medium.ttf');
}
@font-face {
  font-family: 'sf-semi';
  src: url('/fonts/SF-Pro-Display-SemiBold.ttf');
}
@font-face {
  font-family: 'sf-bold';
  src: url('/fonts/SF-Pro-Display-Bold.ttf');
}
